{% extends "base.html" %}
{% load static %}
{% block title %}<title>Traiter Demande congé</title>{% endblock %}
{% block content %}

<style>
    th{vertical-align:middle;}
    td,th,tr{border:solid pink;text-align:center}
    </style>
<div class="content">
<p>Congés pris et congés restant concernant l'année en cours</p>
    <table class="table table-bordered">
<tr>
<th rowspan="2">date demande</th>
<th rowspan="2">Nom employe</th>    
<th rowspan="2">Type conge</th>
<th rowspan="2">Date début</th>
<th rowspan="2">Date Fin</th>
<th rowspan="2">Durée</th>
<th colspan="2">Congé pris</th>
<th colspan="2">Congé restant</th>

<th rowspan="2">Refuser ?</th>
<th rowspan="2" >Accepter ?</th>
</tr> 
<tr>
<th >Annuel </th>
<th >Maladie </th>    
<th >Annuel </th>
<th >Maladie </th>
</tr>    
{% for  ab in dde %}  

    <tr>
        <td>{{ab.DateDemande}}</td>
        <td>{{ab.employee.user.first_name}}</td>
        <td>{{ab.type_conge}}</td>
        <td>{{ab.DateDebut}}</td>
        <td>{{ab.DateFin}}</td>
        <td>{{ab.duree}}</td>
        <td>{{ab.nombre_conges_annuels}}</td>
        <td>{{ab.nombre_conges_maladie}}</td>   
        <td>{{ab.employee.nbrEmp.last.solde_conge}}</td>
        <td>{{ab.employee.nbrEmp.last.solde_conge_maladie}}</td>
        <td><a class="cinfirma" href="{% url 'admi:conge_repondre' ab.id 'ref' %}">Refuser</a></td>
        <td><a class="confirma" href="{% url 'admi:conge_repondre' ab.id 'acc' %}">Accepter</a></td>
    </tr>
    
{% endfor %}
</table></div>

</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        let linksRefuser = document.querySelectorAll('.cinfirma');
        let linksAccepter = document.querySelectorAll('.confirma');

        for (let link of linksRefuser) {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                let accepted = confirm("Etes-vous sûr de vouloir refuser cette demande?");
                if (accepted) {
                    window.location.href = link.href;
                }
            });
        }

        for (let link of linksAccepter) {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                let accepted = confirm("Etes-vous sûr de vouloir accepter cette demande?");
                if (accepted) {
                    window.location.href = link.href;
                }
            });
        }
    });
</script>



{% endblock %}