{% extends "base.html" %}
{% block title %}Tableau de bord{% endblock %}



<div class="content">
{% block content %}

{% if request.user.is_staff %}

<div class="post-content">
Employé(s) en congé:
<ul>
{% if enconge %}
{% for ab in enconge %}
<li>{{ab.employee.user.first_name}} reprend le travail le {{ab.DateFin}}</li>
{% endfor%}
{%else%}
<li>Aucun employé</li>
{% endif %}
</ul>
</div>
{% if query %}

{% if emp %}
<div class="post-content">
<h6>Employés:</h6>
<ul>
{% for ab in emp %}
<li><a href="{% url 'admi:employe_list_filtre' ab.id %}"> &nbsp;{{ab.user.first_name}} &nbsp;  </a>
{% endfor %} 
</ul>
</div>
{% endif %} 

{% if cg %}
<div class="post-content">
<h6>Congés:</h6>
<ul>
  {% for ab in cg %}
    <li>
      <a href="{% url 'admi:trait_demande_conge_filtre' ab.id %}">
        &nbsp;{{ ab.employee.user.first_name }} &nbsp; {{ ab.duree }} jours
        {% if not ab.Accepte and not ab.Refuse %}
          (En instance)
        {% elif ab.Accepte %}
          (Accepté)
        {% elif ab.Refuse %}
          (Refusé)
        {% endif %}
        à partir de {{ab.DateDebut}}
        
      </a>
    </li>
  {% endfor %}
</ul>
</div>
{% endif %} 

{% endif %}

{% endif %}







{% endblock %}
</div>