{% extends "base.html" %}
{% block title %}Tableau de bord{% endblock %}



<div class="content">
{% block content %}

{% if request.user.is_staff %}


{% if query %}

{% if emp %}

<h6>Employés:</h6>
<ul>
{% for ab in emp %}
<li><a href="{% url 'admi:employe_list_filtre' ab.id %}"> &nbsp;{{ab.user.first_name}} &nbsp;  </a>
{% endfor %} 
</ul>
 
{% endif %} 

{% if cg %}
<h6>Congés:</h6>
<ul>
  {% for ab in cg %}
    <li>
      <a href="{% url 'admi:trait_demande_conge_filtre' ab.id %}">
        &nbsp;{{ ab.employee.user.first_name }} &nbsp; {{ ab.duree }} jours
        {% if not ab.Accepte and not ab.Refuse %}
          (En instance)
        {% elif ab.Accepte %}
          (Accepté)
        {% elif ab.Refuse %}
          (Refusé)
        {% endif %}
        à partir de {{ab.DateDebut}}
        
      </a>
    </li>
  {% endfor %}
</ul>
{% endif %} 

{% endif %}

{% endif %}
{% endblock %}
</div>



<div class="messages">
{% block msg %}

{% if messages %}
<ul class="messages">
{% for message in messages %}
<li class="{{ message.tags }}">
{{ message|safe }}
<a href="#" class="close">✖</a>
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
</div>


